@charset "UTF-8";

/* 전체에 적용할 디자인 */
*{
    box-sizing: border-box;/* 크기 설정 기준을 테두리로 정한다*/
    font-family: sans-serif;/*글꼴 통일 */
}

/* 
    컨테이너 디자인 
    - 기본적으로 가운데 배치되도록 구현
    - 폭은 유틸리티 클래스로 지정하도록 구현
*/
.container{
    margin-left: auto;
    margin-right: auto;
}

/* 
    셀 디자인
    - 기본적으로 10px의 상하 간격을 가지도록 구현
    - 필요하다면 인라인 스타일 또는 유틸리티 클래스로 재설정하도록 구현
*/
.cell{
    margin: 10px 0px;
}


/* 
    유틸리티 디자인
    - 자주 사용할 법한 디자인들을 클래스로 만들어서 보관해둠
*/
.left{
    text-align: left !important;
}
.center{
    text-align: center !important;
}
.right{
    text-align: right !important;
}

/* 
    폭 유틸리티 클래스
    - 50px 단위로 설정할 수 있도록 구현
    - 200px ~ 1200px까지 구현
    - w-* 로 구현
*/
.w-200 {width:200px !important; }
.w-250 {width:250px !important; }
.w-300 {width:300px !important; }
.w-350 {width:350px !important; }
.w-400 {width:400px !important; }
.w-450 {width:450px !important; }
.w-500 {width:500px !important; }
.w-550 {width:550px !important; }
.w-600 {width:600px !important; }
.w-650 {width:650px !important; }
.w-700 {width:700px !important; }
.w-750 {width:750px !important; }
.w-800 {width:800px !important; }
.w-850 {width:850px !important; }
.w-900 {width:900px !important; }
.w-950 {width:950px !important; }
.w-1000 {width:1000px !important; }
.w-1050 {width:1050px !important; }
.w-1100 {width:1100px !important; }
.w-1150 {width:1150px !important; }
.w-1200 {width:1200px !important; }

/* 폭 비율 설정 */
.w-100 {width: 100% !important;}
.w-80 {width: 80% !important;}
.w-75 {width: 75% !important;}
.w-66 {width: 66.6666% !important;}
.w-60 {width: 60% !important;}
.w-50 {width: 50% !important;}
.w-40 {width: 40% !important;}
.w-33 {width: 33.3333% !important;}
.w-25 {width: 25% !important;}
.w-20 {width: 20% !important;}

/* 
    여백(margin) 유틸리티 클래스
    - 네 개의 방향(top, bottom, left, right)를 각각 처리
    - left는 차별적인 단어 이슈+세로형 문제로 start로 대체하여 사용
    - right 역시 같은 문제로 end로 대체하여 사용
    - margin-left 는 ms, margin-right는 me로 구현
 */
.mt-0  {margin-top: 0px !important;}
.mt-10 {margin-top: 10px !important;}
.mt-20 {margin-top: 20px !important;}
.mt-30 {margin-top: 30px !important;}
.mt-40 {margin-top: 40px !important;}
.mt-50 {margin-top: 50px !important;}

.mb-0  {margin-bottom: 0px !important;}
.mb-10 {margin-bottom: 10px !important;}
.mb-20 {margin-bottom: 20px !important;}
.mb-30 {margin-bottom: 30px !important;}
.mb-40 {margin-bottom: 40px !important;}
.mb-50 {margin-bottom: 50px !important;}

.ms-0  {margin-left: 0px !important;}
.ms-10 {margin-left: 10px !important;}
.ms-20 {margin-left: 20px !important;}
.ms-30 {margin-left: 30px !important;}
.ms-40 {margin-left: 40px !important;}
.ms-50 {margin-left: 50px !important;}

.me-0  {margin-right: 0px !important;}
.me-10 {margin-right: 10px !important;}
.me-20 {margin-right: 20px !important;}
.me-30 {margin-right: 30px !important;}
.me-40 {margin-right: 40px !important;}
.me-50 {margin-right: 50px !important;}

/* 글자 색상 유틸리티 클래스 */
.red { color: #e74c3c !important; }/* 로즈 레드 */
.orange { color: #e67e22 !important; }/* 소프트 오렌지 */
.yellow { color: #f1c40f !important; }/* 선플라워 */
.green { color: #2ecc71 !important ; }/* 에메랄드 */
.blue { color: #3498db !important; }/* 피터리버 블루 */
.purple { color: #9b59b6 !important; }/* 아메지스트 */
.white { color: #ecf0f1 !important; }/* 클라우드 화이트 */
.black { color: #2c3e50 !important; }/* 미드나잇 블랙 */
.gray { color: #95a5a6 !important; }/* 콘크리트 그레이 */
.silver { color: #bdc3c7 !important; }/* 실버 미스트 */
.gold { color: #d4af37 !important; }/* 샌드 골드 */



/* 컴포넌트(Component) 디자인 */
        
/* 입력창(field) 디자인 */
.field{
    outline: none; /* 기본 갖옺선 제거*/
    font-size: 20px;
    padding: 0.35em 0.75em;
    border: 1px solid #636e72;
    border-radius: 0.1em;
}
textarea.field{
    resize: none;
}
.field:focus{/*조건부 디자인 : 입력 상태일 경우*/
    border-color: #2d3436;
}
/* 입력창 확장 스타일 (1) - 밑줄만 있는 입력창 */
.field.field-underline{
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}

/* 
    버튼(btn) 디자인
    - btn이라는 클래스를 부여하면 글꼴이나 여백 등 기본 설정을 수행
    - 역할(긍정/부정/중립)에 따라 색상을 부여
        - 긍정버튼 : btn-positive 클래스를 추가로 부여
        - 중립버튼 : btn-neutral 클래스로 추가로 부여
        - 부정버튼 : btn-negative 클래스로 추가로 부여 
*/
.btn {
    outline: none;
    font-size: 18px;
    padding: 0.5em 0.75em;
    border: 1px solid #636e72;
    border-radius: 0.1em;
    cursor: pointer;
}
a.btn{
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.btn:hover { /* 조건부 디자인 : 마우스가 올라갔을 때 */
    filter: brightness(0.95);
}
.btn.btn-positive {/* 긍정버튼 */
    background-color: #0984e3;
    border-color: #0984e3;
    color: white;
}
.btn.btn-neutral {/* 중립버튼 */
    background-color: #FFFFFF;
    color: #2d3436;
}
.btn.btn-negative {/* 부정버튼 */
    background-color: #d63031;
    border-color: #d63031;
    color: white;
}

 /* 
    테이블 디자인
    - 테이블은 다양한 태그가 조합된 구조를 가진다
    - 최상위 태그인 <table>에 클래스를 부여하고 나머지즌 탐색
    - 연계 선택자 : 하위, 후손 선택자

    후손 선택자
    - .table th 와 같이 띄어쓰기로 내부에 포함된 요소임을 명시
    - 테이블이 중첩된 경우 원치 않는 대상이 선택될 수 있음

    자식(하위) 선택자
    - .table > thead > tr >th 과 같이 부등호 표시로 연결
*/
.table{
width: 100%;
    border: 1px solid #2d3436;
    border-collapse: collapse;
}

.table > thead > tr > th,
.table > tbody > tr > td
{
     border: 1px solid #2d3436;
}
.table > tbody {
    text-align: center;
}

/* 테이블 확장 스타일 - 마우스 감지 색상 변경 테이블 */
.table.table-hover > tbody > tr:hover{
    background-color: #dfe6e9;
}

/* 
    테이블 확장 스타일 - 줄무늬 테이블
    - nth-child라는 조건은 "N번째 자식"이라는 뜻
    - 값에 n을 포함시키면 n=1,2,3,4,5,.....로 변하며 적용
*/
.table.table-stripe > thead > tr,
.table.table-stripe > tbody > tr:nth-child(2n)
{
    background-color: #dfe6e9;
}


/*
    페이지네이션 디자인 
    - .pagination이라고 추가하면 자동 적용되도록 구현
    - a태그를 개조해서 폭 설정이 가능하도록 구현
*/
.pagination{
    text-align: center;
    font-size: 16px;
    color: #2d3436;
}
.pagination > a {
    color: inherit;
    text-decoration: none;
    /* border: 1px solid transparent; */
    display: inline-block;
    font-size: inherit;
    min-width: 2em;
    padding: 0.25em;
    text-align: center;
}
.pagination > a.on,
.pagination > a:hover{/*마우스가 올라갔을때*/
    /* border: 1px solid #b2bec3; */
    box-shadow: 0 0 0 1px #b2bec3;
    font-weight: bold;
    color: #e17055;
}

/* 
링크 디자인 
- 변화를 부드럽게 보여주도록 처리
- transition-property : 변화를 부드럽게 처리할 항목
- transition-duration : 변화가 완료되는 지속시간
- transition-timing-function : 변화의 처리방식
    - linear : 일정한 변화
     - ease-out : 끝을 느리게 (자동차 브레이크)*/
.link {
    display: inline-block;
    color: #2d3436;
    text-decoration: none;
    transition-property: transform color;
    transition-duration: 0.1s;
    transition-timing-function: ease-out;
}
.link:hover {
    text-decoration: underline;
    color: #0984e3;

    /*
        transform을 이용한 물리적인 변화
        - translate()로 이동
        - rotate()로 회전
        - skew()로 기울이기 
        - scale()로 확대/축소 
    */
            
    transform: scale(1.01);
}